# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# OS files
.DS_Store

# Virtual environments
.venv/
venv/
env/
.env

# Large datasets and project files
data/processed/*
!data/processed/.gitkeep
data/data_imdc_2026/
climate_projections/*.csv
*.csv.gz
*.zip
*.docx
*.zip
